<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>O POVO ONLINE | Portal de Notícias sobre o Ceará, Brasil e Mundo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<nav class="navbar navbar-expand-lg navbar-light bg-default nav-menu">
						<a class="navbar-brand" href="http://www.opovo.com.br/"><img alt="logo-opovo" src="imagens/o-povo-online.png" width="180" height="27"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
							<ul class="navbar-nav mr-auto menu-header">
								<li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Vídeo</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Propósito</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Diversidade</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Valores</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Áreas de Atuação</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Depoimentos</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Vagas</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="row">	
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
						<div class="conteudo-completo-esquerdo">
							<div class="detalhes-vaga">
								<a href="#" class="botao-voltar">&larr;Voltar</a>

								<h1>VAGAS</h1>
								<div>
									<h2>
										CONSULTOR DE NEGÓCIOS - VENDAS PUBLICIDADE
									</h2>
								</div>
								<div>
									<h3>
										Requisitos
									</h3>
									<p>
										Graduação em Marketing ou Publicidade e Propaganda. Experiência com vendas. Conhecimentos de gestão de indicadores, negociação e informática.
									</p>
								</div>
								<div>
									<h3>
										Atividades
									</h3>
									<p>
										Planejamento de vendas, visitas a clientes, desenvolvimento de propostas comerciais e plano de mídias, acompanhamento de indicadores e elaboração de orçamentos.
									</p>
								</div>
								<div>
									<h3>
										Perfil do candidato
									</h3>
									<p>
										Comunicativo, negociador, ágil e responsável.
									</p>
								</div>
								<div>
									<h3>
										Horário de trabalho
									</h3>
									<p>
										8 - 18h
									</p>
								</div>
							</div>

							<div>
								<form method="POST" class="formulario">
									<div class="campos-formulario">
										<div>
											<h1>Envie seu currículo</h1>
										</div>

										<div class="campo-maior">
											<label>Nome</label>
											<input type="text" name="nome" required>
										</div>
										<div class="campo-maior">
											<label>E-mail</label>
											<input type="email" name="email" required>
										</div>
										<div class="campo-maior">
											<label>Cep</label>
											<input type="number" name="cep" id="txtCep" required>
										</div>
										<div class="campo-maior">
											<label>Endereço</label>
											<input type="text" name="endereco" id="txtRua" required>
										</div>
										<div class="campo-esquerdo">
											<label>Número</label><br>
											<input type="number" name="numero" id="txtComplemento" required>
										</div>
										<div class="campo-direito">
											<label>Bairro</label>
											<input type="text" name="bairro" id="txtBairro" required>
										</div>
										<div class="campo-esquerdo">
											<label>Cidade</label><br>
											<input type="text" name="cidade" id="txtCidade" required>
										</div>
										<div class="campo-direito">
											<label>Estado</label>
											<input type="text" name="estado" id="txtEstado" required>
										</div>
										<div class="campo-curriculo">
											<label>
												Currículo
											</label><br>
											<input type="submit" name="curriculo" value="Anexar currículo">

											<p>Todos os campos são obrigatórios</p>
											<p>Tamanho máximo para upload - 10mb</p>
											<p>Tipo do arquivo: .pdf ou .doc</p>
										</div>
									</div>

									<input type="submit" name="enviar-curriculo" value="Enviar currículo" class="botao-enviar">
								</form>

							</div>
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
						<div class="conteudo-completo-direito">
							<div class="barra-flutuante">				
								<div class="imagem-flutuante">
									<img alt="imagem-flutuante" src="imagens/logo-flutuante.png" width="390" height="390">
								</div>
							</div>
						</div>	
					</div>

				</div>
			</div>
		</div>
	</div>


	<script
	src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="javascript/script.js"></script>

	<footer>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
								<img alt="logo-opovo" src="imagens/o-povo-online.png" width="131" height="19">
							</div>

							<div class="col-xl col-lg col-md col-sm"></div>

							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
								<label>Copyright© 1997-2016</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>